@charset "utf-8";
/* CSS Document */
body {
	background-color: #111111;
}

h1{
	font-family: Comfortaa;
	color: yellow;
	position: sticky;
	top: 10px;
	z-index: 100;
}

.phase{
	fill:white;
	width: 200px;
	height: 200px;
	padding-bottom: 50px;
}
